body{
     background-image: url(/static/acc.jpg);
     background-size: cover;
     background-color: transparent ;
     backdrop-filter: blur(30px);
}
.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(/static/logo.jpg);
    background-size: cover;
}
.nn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cn{
    display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: -10px;
   border-bottom: 5px solid blueviolet;
   padding-bottom: 20px;
   backdrop-filter: blur(5px);
   padding: 10px;
   background-color: white;
}
li{
    list-style:none;
    display: inline;
}
a{
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    color: black;
}
.page{
    color:white;
    background-color: blue;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.jj form{
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
label{
    font-size: 18px;
}
option{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: white; 
    position: relative; 
    top: 5px;
    height: 100px;
}
footer P{
    color: black; 
    padding: 10px;
    font-size: 20px; 
    position: relative;
    top: 30px;
}