body{
    background-image: url(/static/car.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-color: transparent;
    backdrop-filter: blur(9px);
}
.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(/static/logo.jpg);
    background-size: cover;
}
.nn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cn{
    display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: -10px;
   border-bottom: 5px solid blueviolet;
   padding-bottom: 20px;
   backdrop-filter: blur(5px);
   padding: 10px;
   background-color: white;
   position: relative;
   animation: ee 2s ease-in-out forwards;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    color: black;
}
.page{
    color:white;
    background-color: blue;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.ff{
    font-size: 40px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    text-decoration: solid;
}
h2{
    font-size: 30px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
button{
    width: 200px;
    height: 70px;
    font-style: oblique;
    font-size: 25px;
    background-color: black;
    color:white;
    border-radius: 20px;
    cursor: pointer;
    font-weight:bolder;
    font-family: 'Times New Roman', Times, serif;
    transition: all 2s ease;
}
button:hover{
    background-color: brown;
    color: aqua;
}
.io{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.kk{
    justify-content: center;
    align-items: center;
    color:white;
    background-color: black;
    border: 3px solid brown;
    margin-top: 20px;
    width: 350px;
    padding: 10px;
    margin-left: 580px;
    border-radius: 20%;
}
.kk li{
    display: block;
    padding: 10px;
}


@keyframes ee{
    0%{
        top: -200px;
    }
    100%{
        top: 0px;
    }
}
.ll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
footer{
    background-color: white; 
    position: relative; 
    top: 5px;
    height: 100px;
}
footer P{
    color: black; 
    padding: 10px;
    font-size: 20px; 
    position: relative;
    top: 30px;
}