body{
    background-image: url(/static/Dealers.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(/static/logo.jpg);
    background-size: cover;
}

.nn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cn{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   border-bottom: 5px solid blueviolet;
   padding-bottom: 20px;
   backdrop-filter: blur(5px);
   padding: 10px;
}
li{
    list-style:none;
    display: inline;
}
a{
    text-decoration: none;
    font-size: 23px;
   padding: 5px;
    color: black;
}
.page{
    color:white;
    background-color: blue;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.qq{
    display: grid;
    height: 900px;
    width: 1200px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    margin-left: 170px;
    margin-top: 40px;
}
.ww{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.yy{
    display: grid;
    justify-items:center;
    align-content: center;
    width: 300px;
    height: 300px;
    border: 3px solid brown;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 18px;
    transition: all 1s ease-in;
}
.yy img:hover{
    transform: translateX(10px);
}
.yy h1{
    color: red;
}
h3{
    margin-left: 150px;
    position: relative;
    animation: moo 3s ease-in  forwards;
}
@keyframes moo{
    0%{
        left: 1000px;
    }
    100%{
        left: 0px;
    }

}
footer{
    background-color: white; 
    position: relative; 
    top: 10px; 
    height: 90px;
}
footer P{
    color: black; 
    padding: 10px;
    font-size: 20px; 
    position: relative;
    top: 20px;
}