body{
    background-image: url(/static/garage.jpg);
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: blur(10px);
}
.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(/static/logo.jpg);
    background-size: cover;
}

.nn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cn{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   margin-top: -10px;
   border-bottom: 5px solid blueviolet;
   padding-bottom: 20px;
   backdrop-filter: blur(5px);
   padding: 10px;
}
li{
    list-style:none;
    display: inline;
}
a{
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    color: black;
}
.page{
    color:white;
    background-color: blue;
    text-decoration: underline;
    text-underline-offset: 5px;
}
h1{
    text-align: center;
    padding-bottom:  20px;
    text-decoration: underline 3px;
}
.sk{
    display: grid;
    transition: all 2s ease;
}
.sk h1{
    margin-left: 20px;

}
.sk img:hover{
    transform: translateY(-20px);
}
.c{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.c1{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1100px;
    height: 300px;
    border: 3px solid black;
    backdrop-filter: blur(7px);
}
.c1 img{
    position: relative;
    animation: i 2s ease-in-out forwards;
    margin-left: 20px;
}
p{
    margin-top: -15px ;
}
.content{
    display: grid;
    justify-items: baseline;
    align-content:space-evenly;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    margin-left: 30px;
}
.content li{
    display: inline;
    padding-right: 70px;
    margin-bottom: 30px;
}
button{
    background-color: aquamarine;
    width: 100px;
    height: 30px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes i{
    0%{
        left: -400px;
    }
    100%{
        left: 0px;
    }
}
footer{
    background-color: white; 
    position: relative; 
    top: 30px; 
    height: 100px;
}
footer P{
    color: black; 
    padding: 10px;
    font-size: 20px; 
    position: relative;
    top: 30px;
}