body{
    background-image: url(/static/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    backdrop-filter: blur(30px);
    position: relative;
    animation: i 2s ease-in-out forwards;
}
.logo{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(/static/logo.jpg);
    background-size: cover;
}

.nn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.cn{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   margin-top: -10px;
   border-bottom: 5px solid blueviolet;
   padding-bottom: 20px;
   backdrop-filter: blur(5px);
   padding: 10px;
}
li{
    list-style:none;
    display: inline;
}
a{
    text-decoration: none;
    font-size: 23px;
    padding: 5px;
    color: black;
}
.page{
    color:black;
    background-color: blue;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.gf form{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-size: 22px;
}
label{
    color: white;
    padding-top: 20px;
}
input{
    border-bottom: 3px solid black;
    width: 300px;
    color: black;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    height: 25px;
    margin-top: 10px;
}
.clip {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
    }
select{
    font-size: 19px;
    background-color: white;
    color: black;
    width: 200px;
}
.hq{
    color: white;
    margin-left: 240px;
}
.uu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}
.jj{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
select {
  background-color: blue;
  color: white;
}
@keyframes i{
    0%{
        left: -900px;
    }
    100%{
        left: 0px;
    }
}
.jj button{
    border-radius: 30%;
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
    transition: all 2s ease;
}
button:hover{
    background-color: brown;
    color: aqua;
}
footer{
    background-color: white; 
    position: relative; 
    top: 25px; 
    height: 100px;
}
footer P{
    color: black; 
    padding: 10px;
    font-size: 20px; 
    position: relative;
    top: 30px;
}