<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
     <div class="cn">
        <div class="nn">
            <div class="logo"></div>
            <u style="text-underline-offset: 5px; font-style: italic; color:black;"><h1>BRAND GARAGE</h1></u>
        </div>
        <ul>
             <i class="fa-solid fa-house" style="font-size: 25px; color: blue;"></i>
            <a href="{{ url_for('car') }}" ><li>Home</li></a>
            <i class="fa-solid fa-address-card" style="font-size: 25px; color: blue;"></i>
            <a href="{{ url_for('about') }}" class="page"><li>About Us</li></a>
            <i class="fa-solid fa-warehouse" style="font-size: 25px; color: blue;"></i>
            <a href="{{ url_for('garage') }}"><li>Garage</li></a>
            <i class="fa-solid fa-user-minus" style="font-size: 25px; color: blue;"></i>
            <a href="{{ url_for('dealers') }}"><li>Dealers</li></a>
            <i class="fa-brands fa-servicestack" style="font-size: 25px; color: blue;"></i>
            <a href="{{ url_for('service') }}"><li>Service</li></a>
        </ul>
    </div>
    <div class="ab">
        <center><h1 style="color:white;">About Us</h1></center>
        <div class="bb">
          <div class="b1">
           <h1>01</h1>
           <h3>Clean Design</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
          </div>

          <div class="b1">
            <h1>02</h1>
           <h3> First Automatic Car</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
          </div>

          <div class="b1">
            <h1>03</h1>
           <h3>Branches in 100+ Countries</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
          </div>
        </div>

        <div class="cc">
        <div class="b2">
            <h1>03</h1>
           <h3>Well Manufactured</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
        </div>

        <div class="b2">
            <h1>03</h1>
           <h3>Worship Is Goal</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
        </div>

        <div class="b2">
            <h1>03</h1>
           <h3>Well Trusted</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet?</p>
        </div>
      </div>
    </div>
    <hr>
    <center>
    <footer><p>© 2025 Brand Garage. All rights reserved.</p></footer>
    </center>
</body>
</html>